.THIS .lbl-hdn .slds-form-element__label{
    display:none;
}
.THIS.crm-sld-card {
    position: relative;
    padding: 0;
    background: #fff;
    border: 1px solid #dddbda!important;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1)!important;
}
.THIS .crm-sld-card-header {
    padding: 10px 10px 10px 10px;
    background-color: rgba(215, 218, 233, 1)!important;
    margin-bottom: 0px!important;
}
.THIS .crm-sld-card .slds-form-element .slds-form-element__label{
    display:none;
}
.THIS .crm-btn{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.THIS .crm-btn:hover{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.30);
}

/***********************************************************************/

.THIS .dash-Calender{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 5em;
  height: 5em;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  margin-bottom: 10px;
}
.THIS .dash-Calender *
{
  display: block;
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
.THIS .dash-Calender strong
{
      position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #8BC34A;
    border-bottom: 1px dashed #07800c;
    box-shadow: 0 2px 0 #8BC34A;
}
.THIS .dash-Calender em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}
.THIS .dash-Calender span
{
  font-size: 25px;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}